In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
!cd data/

In [ ]:
cd data

In [39]:
!ls

Parcel.csv        Sale.csv          UnitBreakdown.csv

In [219]:
parcel_df = pd.read_csv('Parcel.csv', encoding='latin-1')

In [220]:
parcel_df= parcel_df.set_index(keys=['Major', 'Minor'])

In [221]:
# Only take KING COUNTY properties from parcel.csv
parcel_df = parcel_df[parcel_df['DistrictName']=='KING COUNTY']

In [224]:
parcel_df.head()

,,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,Area,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
Major,Minor,,,,,,,,,,,,,,,,,,,,,
113730,520,,BROOK TRAILS ESTATES,52,,6,26,18,SW,R,72.0,...,N,N,N,N,N,N,N,N,N,N
292607,9014,,NaN,,,7,26,29,SE,T,70.0,...,N,N,N,N,N,N,N,N,N,N
608460,70,,NICHOLSON PLACE,7,,4,21,10,NE,R,27.0,...,N,N,N,N,N,N,N,N,N,N
720310,250,,REDMOND RIDGE EAST DIV 1,25,,6,26,34,NE,R,71.0,...,N,N,N,N,N,N,N,N,N,N
162506,9068,,NaN,,,6,25,16,SE,R,71.0,...,N,N,N,N,N,N,N,N,N,N

In [225]:
parcel_df = parcel_df[["SqFtLot", "WfntLocation"]]

In [226]:
parcel_df.head()

              SqFtLot  WfntLocation
Major  Minor
113730 520      26000             0
292607 9014         0             0
608460 70        8502             0
720310 250       6657             0
162506 9068     28247             0

In [227]:
# wrong DF
unit_df = pd.read_csv('UnitBreakdown.csv')

In [228]:

unit_df.head()

    Major  Minor  UnitTypeItemId  NbrThisType  SqFt NbrBedrooms  NbrBaths
0   82605   9206               1           29   813           0       1.0
1  722850   2420               1            1     0           5       2.0
2  292605   9021               1           51  1165           3       2.0
3  182604   9228               1           10     0           1       1.0
4  720000    201               1           12   750           1       1.0

In [229]:
# Index unit_df
unit_df = unit_df.set_index(keys=['Major', 'Minor'])

In [240]:
residentail_blg_df = pd.read_csv('EXTR_ResBldg.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [244]:
residentail_blg_df.columns
residentail_blg_df = residentail_blg_df[['Major', 'Minor', 'Address', 'SqFtTotLiving', 'Bedrooms']]

In [232]:
sale_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,1056831,951120,900,04/20/1989,85000,198904260448,117,053,951120,P,...,3,0,2,N,N,N,N,1,9,49

In [234]:
sale_parcel_df = pd.merge(sale_df, parcel_df, right_index=True, left_on=['Major', 'Minor'])

In [236]:
all_df = pd.merge(sale_parcel_df, unit_df, right_index=True, left_on=['Major', 'Minor'])

In [239]:
unit_df.shape

(24635, 5)

In [231]:
sale_df = pd.read_csv('Sale.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
sale_df.columns
# removing the 2 rows without Major+Minor index

In [ ]:
sale_df['Major'] = pd.to_numeric(sale_df['Major'], errors='coerce')
sale_df['Minor'] = pd.to_numeric(sale_df['Minor'], errors='coerce')

In [ ]:
sale_df = sale_df.dropna()

In [66]:
sale_df.isna().sum()

ExciseTaxNbr          0
Major                 0
Minor                 0
DocumentDate          0
SalePrice             0
RecordingNbr          0
Volume                0
Page                  0
PlatNbr               0
PlatType              0
PlatLot               0
PlatBlock             0
SellerName            0
BuyerName             0
PropertyType          0
PrincipalUse          0
SaleInstrument        0
AFForestLand          0
AFCurrentUseLand      0
AFNonProfitUse        0
AFHistoricProperty    0
SaleReason            0
PropertyClass         0
SaleWarning           0
dtype: int64

In [67]:
sale_df = sale_df.set_index(keys=['ExciseTaxNbr','Major', 'Minor'])

sale_df.head()

,,,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
ExciseTaxNbr,Major,Minor,,,,,,,,,,,,,,,,,,,,,
2687551,138860.0,110.0,08/21/2014,245000,20140828001436,,,,,,,WENKLE NOEL SMITH -TRUSTEE ...,...,3,6,3,N,N,N,N,1,8,
1235111,664885.0,40.0,07/09/1991,0,199203161090,071,001,664885,C,B102,,HERRMAN JEFFREY A+PAULINE A ...,...,3,0,26,N,N,N,N,18,3,11
2704079,423943.0,50.0,10/11/2014,0,20141205000558,,,,,,,STEPHENS ANTHONY P ...,...,3,6,15,N,N,N,N,18,8,18 31 51
2584094,403700.0,715.0,01/04/2013,0,20130110000910,,,,,,,PASTORS EDWIN ...,...,3,6,15,N,N,N,N,11,8,18 31 38
1056831,951120.0,900.0,04/20/1989,85000,198904260448,117,053,951120,P,90,,STRATHY FLORENCE G ...,...,3,0,2,N,N,N,N,1,9,49

In [73]:
parcel_df.head()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2023221 entries, (2687551, 138860.0, 110.0) to (1749837, 202306.0, 9094.0)
Data columns (total 21 columns):
DocumentDate          object
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: int64(6), object(15)
memory usage: 353.9+ MB

,,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,Area,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
Major,Minor,,,,,,,,,,,,,,,,,,,,,
113730,520,,BROOK TRAILS ESTATES,52,,6,26,18,SW,R,72.0,...,N,N,N,N,N,N,N,N,N,N
292607,9014,,NaN,,,7,26,29,SE,T,70.0,...,N,N,N,N,N,N,N,N,N,N
608460,70,,NICHOLSON PLACE,7,,4,21,10,NE,R,27.0,...,N,N,N,N,N,N,N,N,N,N
720310,250,,REDMOND RIDGE EAST DIV 1,25,,6,26,34,NE,R,71.0,...,N,N,N,N,N,N,N,N,N,N
162506,9068,,NaN,,,6,25,16,SE,R,71.0,...,N,N,N,N,N,N,N,N,N,N

In [21]:
sale_df.isna().sum()

Major        0
Minor        0
SalePrice    0
dtype: int64

In [70]:
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2023221 entries, (2687551, 138860.0, 110.0) to (1749837, 202306.0, 9094.0)
Data columns (total 21 columns):
DocumentDate          object
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: int64(6), object(15)
memory usage: 353.9+ MB

In [76]:
sale_df.head(1)

,,,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
ExciseTaxNbr,Major,Minor,,,,,,,,,,,,,,,,,,,,,
2687551,138860.0,110.0,08/21/2014,245000,20140828001436,,,,,,,WENKLE NOEL SMITH -TRUSTEE ...,...,3,6,3,N,N,N,N,1,8,

In [120]:
parcel_df

              SqFtLot  WfntLocation
Major  Minor
113730 520      26000             0
292607 9014         0             0
608460 70        8502             0
720310 250       6657             0
162506 9068     28247             0
127220 100      14999             0
770198 70       40390             0
112202 9102    261360             0
152407 9065    254390             0
339680 230      25209             0
948595 1580     66317             0
247344 20        7410             0
242105 9140    102366             0
273000 290      11775             0
721268 240       7023             0
152306 9223    168141             0
404660 680      23423             0
202206 9127     28749             0
261730 290      36154             8
142606 9012   7039596             9
247300 2400      8400             0
272104 9029     11761             0
22102  9023     12427             0
52613  9002         0             0
142210 9019         0             0
92613  9003         0             0
72506  9047         0             0
208520 640      20776             9
272306 9087    209523             0
512700 40       12714             0
...               ...           ...
142206 9063    205167             0
815587 110       5000             0
79500  10        6251             0
375060 6917      9600             0
172306 9038     50965             0
140260 240       7316             0
82007  9086     38363             0
132831 350       7350             0
512621 600     131986             0
118000 5400      6000             0
526920 130       7620             0
375060 4806      9600             0
112408 9003   3484800             0
72303  9029     87902             0
112610 9068     19602             0
781280 1945      8848             0
289860 125       7620             0
232202 9174     69600             0
289580 570       2752             0
436670 210       9611             0
769663 270       7350             0
868222 190       6750             0
102006 9013    196891             0
72207  9051    218671             0
107203 250      12780             0
217200 540      72426             0
793350 245     318945             9
131044 860       7635             0
142306 9034    307969             0
247292 430       9601             0

[103324 rows x 2 columns]

In [137]:
unit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24635 entries, 0 to 24634
Data columns (total 7 columns):
Major             24635 non-null int64
Minor             24635 non-null int64
UnitTypeItemId    24635 non-null int64
NbrThisType       24635 non-null int64
SqFt              24635 non-null int64
NbrBedrooms       24626 non-null object
NbrBaths          24635 non-null float64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.3+ MB

In [173]:
unit_df.head()

              UnitTypeItemId  NbrThisType  SqFt  NbrBedrooms  NbrBaths
Major  Minor
82605  9206                1           29   813          0.0       1.0
722850 2420                1            1     0          5.0       2.0
292605 9021                1           51  1165          3.0       2.0
182604 9228                1           10     0          1.0       1.0
720000 201                 1           12   750          1.0       1.0

In [144]:
unit_df['NbrBedrooms'].astype(int)

ValueError: invalid literal for int() with base 10: 'S'

In [ ]:
#assuming S means Studio
nbr = unit_df['NbrBedrooms']

In [147]:
nbr = nbr.str.replace('S', '0')

In [149]:
#Replace spaces with 0
nbr = nbr.str.replace(' ', '0')

In [ ]:
nbr = nbr.astype(float)

In [154]:
unit_df['NbrBedrooms'] = nbr

In [156]:
unit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24635 entries, 0 to 24634
Data columns (total 7 columns):
Major             24635 non-null int64
Minor             24635 non-null int64
UnitTypeItemId    24635 non-null int64
NbrThisType       24635 non-null int64
SqFt              24635 non-null int64
NbrBedrooms       24626 non-null float64
NbrBaths          24635 non-null float64
dtypes: float64(2), int64(5)
memory usage: 1.3 MB

In [160]:
# what im going to do
wftn = parcel_df['WfntLocation']

In [162]:
wftn = wftn.astype(bool)

In [163]:
parcel_df['WfntLocation'] =wftn

In [164]:
parcel_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 103324 entries, (113730, 520) to (247292, 430)
Data columns (total 2 columns):
SqFtLot         103324 non-null int64
WfntLocation    103324 non-null bool
dtypes: bool(1), int64(1)
memory usage: 7.1 MB

In [218]:
parcel_df.head(5)

              SqFtLot  WfntLocation
Major  Minor
113730 520      26000         False
292607 9014         0         False
608460 70        8502         False
720310 250       6657         False
162506 9068     28247         False

In [184]:
unit_df.head(5)

              UnitTypeItemId  NbrThisType  SqFt  NbrBedrooms  NbrBaths
Major  Minor
82605  9206                1           29   813          0.0       1.0
722850 2420                1            1     0          5.0       2.0
292605 9021                1           51  1165          3.0       2.0
182604 9228                1           10     0          1.0       1.0
720000 201                 1           12   750          1.0       1.0

In [174]:
parcel_unit_df = pd.merge(parcel_df, unit_df, how='inner', left_index=True, right_index=True)

In [178]:
parcel_unit_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 455 entries, (140, 1) to (888440, 30)
Data columns (total 7 columns):
SqFtLot           455 non-null int64
WfntLocation      455 non-null bool
UnitTypeItemId    455 non-null int64
NbrThisType       455 non-null int64
SqFt              455 non-null int64
NbrBedrooms       455 non-null float64
NbrBaths          455 non-null float64
dtypes: bool(1), float64(2), int64(4)
memory usage: 25.1 KB

In [ ]:
sale_df.head()
sale_df.reset_index(level=0,inplace=True)

In [200]:
sale_df

                 ExciseTaxNbr DocumentDate  SalePrice  PropertyClass
Major    Minor
138860.0 110.0        2687551   08/21/2014     245000              8
664885.0 40.0         1235111   07/09/1991          0              3
423943.0 50.0         2704079   10/11/2014          0              8
403700.0 715.0        2584094   01/04/2013          0              8
951120.0 900.0        1056831   04/20/1989      85000              9
605475.0 10.0         1971467   07/07/2003          0              3
122209.0 9002.0       1813750   04/25/2001    5755000              7
         9001.0       1813750   04/25/2001    5755000              7
22209.0  9001.0       1813750   04/25/2001    5755000              7
         9003.0       1813750   04/25/2001    5755000              7
         9007.0       1813750   04/25/2001    5755000              7
         9002.0       1813750   04/25/2001    5755000              7
342309.0 9012.0       1813750   04/25/2001    5755000              7
         9011.0       1813750   04/25/2001    5755000              7
         9015.0       1813750   04/25/2001    5755000              7
         9010.0       1813750   04/25/2001    5755000              7
22307.0  9060.0       1813750   04/25/2001    5755000              7
182210.0 9001.0       1813750   04/25/2001    5755000              7
332309.0 9004.0       1813750   04/25/2001    5755000              7
282309.0 9011.0       1813750   04/25/2001    5755000              7
22209.0  9006.0       1813750   04/25/2001    5755000              7
12307.0  9020.0       1813750   04/25/2001    5755000              7
         9005.0       1813750   04/25/2001    5755000              7
98400.0  380.0        2671216   04/02/2014          0              8
889980.0 280.0        2201052   03/03/2006          0              3
330395.0 1610.0       2548641   06/07/2012     335000              8
675260.0 940.0        1598443   03/06/1998     209950              8
795508.0 170.0        2339550   03/28/2008          0              8
269549.0 190.0        1766926   07/23/2000     154950              3
638580.0 110.0        2743355   07/14/2015     190000              8
...                       ...          ...        ...            ...
92205.0  9016.0       1715243   10/01/1999      48333              8
258830.0 120.0        2438946   04/07/2010    1130000              8
311043.0 10.0         1729925   12/27/1999     194000              3
249320.0 235.0        1838332   08/24/2001     219300              8
182205.0 9262.0       1525093   01/23/1997     122525              8
528820.0 225.0        1328017   08/24/1993     175000              8
12603.0  9069.0       1776786   08/25/2000          0              0
752497.0 1030.0       2817724   08/22/2016     333000              3
752370.0 670.0         996970   04/20/1988      59500              8
788360.0 1840.0       2386673   03/26/2009          0              8
754730.0 35.0         2146717   08/09/2005     200000              8
286140.0 220.0        2199669   04/06/2006          0              3
926720.0 60.0         1937627   01/29/2003     217000              1
505230.0 15.0         2384756   03/07/2009          0              2
192104.0 9017.0       2274551   03/29/2007   46330119              2
926492.0 510.0        2937177   06/19/2018     445000              8
883540.0 730.0        1727538   12/09/1999     290000              8
322305.0 9350.0       1656456   12/11/1998      79900              7
142370.0 750.0        1577822   11/13/1997          0              8
305270.0 510.0        2828136   10/11/2016     501500              8
82606.0  9016.0       2705536   12/12/2014     458000              8
769812.0 100.0        1627384   07/16/1998     227000              3
761410.0 20.0         1947634   03/25/2003          0              8
211101.0 1040.0       2519878   11/10/2011     360000              8
869860.0 380.0        1281691   11/20/1992      90000              8
211370.0 955.0        1324914   08/09/1993      88000              8
607271.0 680.0        1430430   05/23/1995          0              3
132404.0 9009.0       1300684   03/29/1993     550000              8
312604.0 9348.0       2193556   03/13/2006     142073              8
202306.0 9094.0       1749837   04/23/2000          0              7

[2023221 rows x 4 columns]

In [203]:
unit_price_df = pd.merge(sale_df, unit_df, how='inner', left_index=True , right_index=True)

In [207]:
# YAY! the inner join worked
unit_price_df

             ExciseTaxNbr DocumentDate  SalePrice  PropertyClass  \
Major Minor
80.0  25.0        1794498   12/27/2000    2500000              2
      25.0        1787579   11/13/2000          0              2
      25.0        2097346   01/18/2005    2350000              2
      25.0        2777098   01/21/2016    1037500              2
      25.0        1444309   12/30/1994          0              8

             UnitTypeItemId  NbrThisType  SqFt  NbrBedrooms  NbrBaths
Major Minor
80.0  25.0                1           66     0          1.0       1.0
      25.0                1           66     0          1.0       1.0
      25.0                1           66     0          1.0       1.0
      25.0                1           66     0          1.0       1.0
      25.0                1           66     0          1.0       1.0

In [212]:
# this doesnt work
housing_df = pd.merge(unit_price_df, parcel_df, how='left', left_index=True , right_index=True)

In [215]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 82904 entries, (80.0, 25.0) to (983930.0, 70.0)
Data columns (total 11 columns):
ExciseTaxNbr      82904 non-null int64
DocumentDate      82904 non-null object
SalePrice         82904 non-null int64
PropertyClass     82904 non-null int64
UnitTypeItemId    82904 non-null int64
NbrThisType       82904 non-null int64
SqFt              82904 non-null int64
NbrBedrooms       82881 non-null float64
NbrBaths          82904 non-null float64
SqFtLot           1370 non-null float64
WfntLocation      1370 non-null object
dtypes: float64(3), int64(6), object(2)
memory usage: 7.3+ MB

In [96]:
sale_df = sale_df[['DocumentDate','SalePrice', 'PropertyClass']]

In [245]:
sale_df

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,1056831,951120,900,04/20/1989,85000,198904260448,117,053,951120,P,...,3,0,2,N,N,N,N,1,9,49
5,1971467,605475,10,07/07/2003,0,20030708003207,,,,,...,6,2,22,N,N,N,N,8,3,12 31 51
6,1813750,122209,9002,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
7,1813750,122209,9001,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
8,1813750,22209,9001,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
9,1813750,22209,9003,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
10,1813750,22209,9007,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
11,1813750,22209,9002,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
12,1813750,342309,9012,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
13,1813750,342309,9011,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
14,1813750,342309,9015,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
15,1813750,342309,9010,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
16,1813750,22307,9060,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
17,1813750,182210,9001,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
18,1813750,332309,9004,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
19,1813750,282309,9011,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
20,1813750,22209,9006,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
21,1813750,12307,9020,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
22,1813750,12307,9005,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
23,2671216,98400,380,04/02/2014,0,20140602000186,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
24,2201052,889980,280,03/03/2006,0,20060420001615,,,,,...,3,2,15,N,N,N,N,14,3,18 31 51 52
25,2548641,330395,1610,06/07/2012,335000,20120615000867,,,,,...,3,6,3,N,N,N,N,1,8,
26,1598443,675260,940,03/06/1998,209950,199803122092,165,041,675260,P,...,3,6,3,N,N,N,N,1,8,
27,2339550,795508,170,03/28/2008,0,20080331002272,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
28,1766926,269549,190,07/23/2000,154950,20000727000693,,,,,...,3,2,3,N,N,N,N,1,3,
29,2743355,638580,110,07/14/2015,190000,20150715002686,,,,,...,3,6,3,N,N,N,N,1,8,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023193,1715243,92205,9016,10/01/1999,48333,19991008001668,,,,,...,1,6,3,N,N,N,N,14,8,22
2023194,2438946,258830,120,04/07/2010,1130000,20100429001359,,,,,...,3,6,3,N,N,N,N,1,8,
2023195,1729925,311043,10,12/27/1999,194000,19991230001200,,,,,...,2,2,3,N,N,N,N,1,3,
2023196,1838332,249320,235,08/24/2001,219300,20010828002747,,,,,...,3,6,3,N,N,N,N,1,8,
2023197,1525093,182205,9262,01/23/1997,122525,199701240814,000,000,000000,,...,3,6,3,N,N,N,N,1,8,
2023198,1328017,528820,225,08/24/1993,175000,199308310091,016,002,528820,P,...,3,0,2,N,N,N,N,1,8,
2023199,1776786,12603,9069,08/25/2000,0,20000919000230,,,,,...,0,6,15,N,N,N,N,10,0,11 18 31
2023200,2817724,752497,1030,08/22/2016,333000,20160824001103,,,,,...,14,2,3,,,,,1,3,
2023201,996970,752370,670,04/20/1988,59500,198804271079,059,039,752370,P,...,3,0,2,N,N,N,N,1,8,
2023202,2386673,788360,1840,03/26/2009,0,20090415000921,,,,,...,3,6,24,N,N,N,N,8,8,12 22 31 51
2023203,2146717,754730,35,08/09/2005,200000,20050815001293,,,,,...,3,6,3,N,N,N,N,1,8,15
2023204,2199669,286140,220,04/06/2006,0,20060414000710,,,,,...,3,2,21,N,N,N,N,4,3,14 16 31
2023205,1937627,926720,60,01/29/2003,217000,20030204002177,,,,,...,3,6,3,N,N,N,N,1,1,10
2023206,2384756,505230,15,03/07/2009,0,20090327000865,,,,,...,3,7,15,N,N,N,N,18,2,11 18 31
2023207,2274551,192104,9017,03/29/2007,46330119,20070329002054,,,,,...,3,11,3,N,N,N,N,1,2,1
2023208,2937177,926492,510,06/19/2018,445000,20180620001032,,,,,...,11,6,3,N,N,N,N,1,8,
2023209,1727538,883540,730,12/09/1999,290000,19991217001538,,,,,...,3,6,2,N,N,N,N,1,8,
2023210,1656456,322305,9350,12/11/1998,79900,199812162499,000,000,000000,,...,1,6,3,N,N,N,N,1,7,
2023211,1577822,142370,750,11/13/1997,0,199711140601,072,023,142370,P,...,3,6,15,N,N,N,N,11,8,32 38
2023212,2828136,305270,510,10/11/2016,501500,20161014001281,,,,,...,11,6,3,,,,,1,8,
2023213,2705536,82606,9016,12/12/2014,458000,,,,,,...,3,6,3,N,N,N,N,1,8,26
2023214,1627384,769812,100,07/16/1998,227000,199807241145,071,089,769812,C,...,3,2,3,N,N,N,N,1,3,
2023215,1947634,761410,20,03/25/2003,0,20030327002108,,,,,...,3,6,15,N,N,N,N,13,8,18 31 51
2023216,2519878,211101,1040,11/10/2011,360000,20111123001287,,,,,...,3,6,3,N,N,N,N,1,8,
2023217,1281691,869860,380,11/20/1992,90000,199212020771,017,064,869860,P,...,3,6,2,N,N,N,N,1,8,
2023218,1324914,211370,955,08/09/1993,88000,199308131904,024,006,211370,P,...,3,0,15,N,N,N,N,1,8,18
2023219,1430430,607271,680,05/23/1995,0,199505300813,034,001,607271,C,...,3,4,15,N,N,N,N,9,3,32 51
2023220,1300684,132404,9009,03/29/1993,550000,199304011243,000,000,000000,,...,3,0,2,N,N,N,N,1,8,
2023221,2193556,312604,9348,03/13/2006,142073,20060320001545,,,,,...,3,6,15,N,N,N,N,14,8,18 51 52
2023222,1749837,202306,9094,04/23/2000,0,20000428000468,,,,,...,1,6,15,N,N,N,N,14,7,31 51 52

In [246]:
new_df = pd.merge(sale_df, residentail_blg_df, left_on=['Major', 'Minor'], right_on=['Major', 'Minor'])

In [248]:
new_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning,Address,SqFtTotLiving,Bedrooms
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,N,N,N,N,1,8,,806 23RD ST SE 98002,1490,3
1,1066933,138860,110,06/12/1989,109300,198906191556,144,021,138860,P,...,N,N,N,N,1,8,,806 23RD ST SE 98002,1490,3
2,2102034,138860,110,01/16/2005,14684,20050216001248,,,,,...,N,N,N,N,14,8,51 52,806 23RD ST SE 98002,1490,3
3,2131568,138860,110,06/08/2005,0,20050617000041,,,,,...,N,N,N,N,5,8,31 51,806 23RD ST SE 98002,1490,3
4,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,N,N,N,N,18,8,18 31 51,31814 121ST AVE SE 98092,960,3

In [250]:
parcel_res_df =pd.merge(parcel_df, residentail_blg_df, left_on=['Major', 'Minor'], right_on=['Major', 'Minor'])

In [251]:
parcel_res_df.shape

(76205, 7)

In [252]:
housing_df = pd.merge(parcel_df, new_df, left_on=['Major', 'Minor'], right_on=['Major', 'Minor'])

In [253]:
housing_df.shape

(207133, 29)

In [256]:
housing_df.columns

Index(['Major', 'Minor', 'SqFtLot', 'WfntLocation', 'ExciseTaxNbr',
       'DocumentDate', 'SalePrice', 'RecordingNbr', 'Volume', 'Page',
       'PlatNbr', 'PlatType', 'PlatLot', 'PlatBlock', 'SellerName',
       'BuyerName', 'PropertyType', 'PrincipalUse', 'SaleInstrument',
       'AFForestLand', 'AFCurrentUseLand', 'AFNonProfitUse',
       'AFHistoricProperty', 'SaleReason', 'PropertyClass', 'SaleWarning',
       'Address', 'SqFtTotLiving', 'Bedrooms'],
      dtype='object')